{% extends "base.html" %}
{% load i18n %}


{% block content %}



    <h3>About Us</h3>


    <p>
        <small>We are a group of student from School of Computer Engineering, Nanyang Technological University.
            This website is based on our course project of CZ2006 Software Engineering.
            The name "stardom" is given in confidence that this website will outshine all other projects in this course.
            The survey system is created in one semester with our best effort to beautify and perfect it.
            In this process, we keep examining the functions of various sub-components and also check our mistake and
            make adjustment.
            We spend countless effort in coding as well as testing various functions and subsystems.
            With all these effort, we hope and aim to best extend our ability in benefiting NTU students and faculties
            in research study or any other purposes.
            Hopes you enjoy using our website!
        </small>
    </p>
    <p>Get to know more about us by visiting our <a href="http://ntusurvey.wikispaces.com/">wiki</a> or view our <a href="#myModal" role="button" class="btn" data-toggle="modal">short demo  <i class="icon-film"></i></a></li></a>.</p>


    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <object id="vp1CsI2J" width="432" height="243" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                <param name="movie" value="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1351854975&f=CsI2JqE5GKF8g
        aIxwPRfhg&d=37&m=b&r=360p&volume=100&start_res=360p&i=m&options="></param><param name="allowFullScreen"
                                                                                         value="true"></param>
                <param name="allowscriptaccess" value="always"></param><embed id="vp1CsI2J"
                                                                              src="http://static.animoto.com/swf/w.swf?w=swf/vp1&e=1351854975&f=CsI2JqE5GKF8gaIxwPRfhg&d=37&m=
         b&r=360p&volume=100&start_res=360p&i=m&options=" type="application/x-shockwave-flash" allowscriptaccess
                    ="always" allowfullscreen="true" width="432" height="243"></embed></object></div>
    </div>
    <p>Drop us an email at <a href="mailto:stardom789@gmail.com">stardom789@gmail.com</a></p>



    <hr>
    <h3>Our Team</h3>
    <a href="#profile" role="button" class="btn pull-left pull-down" data-toggle="modal">Developer Profile<i class="icon-film"></i></a></li></a>

    <!-- Modal -->
    <div id="profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <object width="530" height="310"><param name="movie" value="http://www.youtube.com/v/t9ALCspb58g?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/t9ALCspb58g?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="530" height="310" allowscriptaccess="always" allowfullscreen="true"></embed></object>
        </div>
    </div>


    <p>&nbsp; &nbsp; Wan Liuyang (Manager) &nbsp; &nbsp; Chia Ming En &nbsp; &nbsp;Qian Cheng &nbsp; &nbsp;Chu Xiaoqi
        &nbsp; &nbsp;Zhao Fangyuan &nbsp; &nbsp;Ning Haoyan &nbsp; Huang Wei</p>

    <h3>Reference</h3>
    <p>Survey theme pictures supported by <a href="http://site.douban.com/122585/">http://site.douban.com/122585/</a>
    </p>
    <p>Video supported by animoto, stupeflix and youtube.</p>



{% endblock %}