{% extends "base.html" %}


{% block content %}


    <h2 style="margin-left: 70px;">Change Password</h2>

    {% if errors|length > 0 %}
        {% for error in errors %}
            <small><p style="margin-left: 70px; color: #ff4500;" class="error">{{ error }}</p></small>
        {% endfor %}
    {% endif %}

    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="old_password">Old Password:</label>

            <div class="controls">
                <input type="password" name="old_password" value="" id="old_password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password1">New Password:</label>

            <div class="controls">
                <input type="password" name="password1" value="" id="password1">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password2">Confirm Password :</label>

            <div class="controls">
                <input type="password" name="password2" value="" id="password2">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="btn btn-danger" type="submit" value="Save"/>
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next|escape }}"/>
    </form>

{% endblock %}
